@using WebApp.Models
@model Price
@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Информация о студенте</legend>

    <div class="display-label"><b>Имя</b></div>
    @*<div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>*@

    <div class="display-label"><b>Фамилия</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label"><b>Курсы</b></div>
    <ul>
        @foreach (PriceList c in Model.PriceLists)
        {
            <li>@c.Name</li>
        }
    </ul>

</fieldset>